.project-info {

  &__main {
    @media screen and (max-width: 1000px) {
      p  {
        font-size: 11px;
        line-height: 10px;
        margin: 0.5rem;
      }
    }
    
    margin: auto;
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 85%;
    max-height: 60vh;
    z-index: 100;
    padding: 20px;
    
    p {
      font-family: "Helvetica";
      font-weight: lighter;
      text-align: justify;
    }

  }
  &__title {
    color: #9300a051;
    font-weight: bold;
    padding-bottom: 1rem;
  }

  &__blurb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__description {
    font-size: 13px;
    line-height: 15px;
    font-style: italic;
    letter-spacing: 0.3px;
    color:rgb(70, 70, 70)
  }

  &__logo {
    max-width: 50px;
    margin-right: .8rem;
    margin-bottom: .8rem;
    margin-top: .8rem;
  }

  &__text {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 1rem;
    color:rgb(70, 70, 70)
  }
  
  &__tech {
    font-size: 11px;
    letter-spacing: .5px;
    margin-bottom: 1rem;
    color:rgba(35, 2, 220, 0.571)
  }

}

.name {
  top: 0;
  font-weight: 200;
  color:rgba(34, 159, 0, 0.406);
  position: relative;
  letter-spacing: 6px;
  margin-left: -69px;

}

.letter__i{
  position: relative;
  margin-left: 67px;
  margin-top: -4.5rem;
  width: 1px;
  height: 65px;
  background-color: rgba(34, 159, 0, 0.214);
  

}

.contact {

  &__heading { 
    font-weight: 200;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 1vh;
    padding-right: 2vh;
    text-align: right;
  }

  &__details {
    width: 20%;
    font-weight: 200;
    position: absolute;
    bottom: 0;
    padding-bottom: 1vh;

  }

  &__ul {
    font-size: 16px;
    margin-left: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }

  &__icon {
    max-width: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  &__carrots {
    font-weight: 300;
  }

}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}