.project-info {
  
  &__main {
    margin: auto;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 80%;
    max-height: 50%;
    z-index: 100;
    padding: 20px;
    border: 0.3px rgba(33, 0, 218, 0.249) dotted;
    box-shadow: rgba(31, 1, 200, 0.091) 0px 40px 90px 0px;    
    
    p {
      font-family: "Helvetica";
      font-weight: lighter;
      text-align: justify;
    }

  }
  &__title {
    color: #9300a051;
    font-weight: bold;
    padding-bottom: 1rem;
  }

  &__blurb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__description {
    font-size: 13px;
    line-height: 15px;
    font-style: italic;
    letter-spacing: 0.3px;
    color:rgb(70, 70, 70)
  }

  &__logo {
    max-width: 60px;
    margin-right: .8rem;
    margin-bottom: .8rem;
    margin-top: .8rem;
  }

  &__text {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .5px;
    margin-bottom: 1rem;
   color:rgb(70, 70, 70)
  }
  
  &__tech {
    font-size: 11px;
    letter-spacing: .5px;
    margin-bottom: 1rem;
    color:rgba(35, 2, 220, 0.571)
  }

}

.name {
  margin-top: 2vh;
  position: relative;
  letter-spacing: 5px;
  margin-left: -68px;

}

.letter__i{
  position: relative;
  margin-left: 63px;
  margin-top: -4.5rem;
  width: 4px;
  height: 68px;
  background-color: black;

}

.contact {

  &__heading {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 1vh;
    padding-right: 2vh;
    text-align: right;
  }

  &__details {
    position: absolute;
    bottom: 0;
    padding-bottom: 2vh;
    padding-left: 2vh;

  }

}
