// Green and Gray columns
.columns {
  height: 100vh;

  &__gray {
    @extend .columns;
    overflow: scroll;
    overflow-x: hidden;

  }

  &__green {
    @extend .columns;
    position: relative;
    background-color: rgba(255, 255, 255, 0.646);
    border-left: 1px rgba(81, 146, 59, 0.698) solid;
    border-right: 1px rgba(159, 195, 146, 0.349) solid;
  }

}

.gray {

  &__content {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}


.project {
  background-color: white;
  border-bottom: 1px  rgba(159, 195, 146, 0.349) solid;
  height: 50vh;
  width: 100%;

  &__img {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center
  }

}

.project_scn {
  display: flex;
  max-width: 80%;


}
