// Green and Gray columns
.columns {
  height: 100vh;
  margin-left: 1rem;

  &__gray {
    @extend .columns;
    background-color: #cccfc8;
    overflow: scroll;
    overflow-x: hidden;

  }

  &__green {
    @extend .columns;
    position: relative;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.646);
    width: auto;
    border-right: 0.2px rgb(25, 101, 0) solid;
    border-left: 0.2px rgb(25, 101, 0) solid;
  }

}

.gray {

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    width: 80%;
    margin: auto;
    height: auto;
  }

}


.projects__title {

  right: 13%;
  color: white;
  position: fixed;
  top: 0;
  z-index: 100;

}

.project {
  max-width: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;

}

::-webkit-scrollbar {
  width: 5px;
  scroll-behavior: smooth;

}

::-webkit-scrollbar-track {
  z-index: 0;
  border-radius: 10px;
  scroll-behavior: smooth;

}
