// Green and Gray columns
.columns {
  height: 100vh;

  &__gray {
    @extend .columns;
    background-color: #cccfc8;
    overflow: scroll;
    overflow-x: hidden;
  }
  &__green {
    @extend .columns;
    position: relative;
    background-attachment: fixed;
    border-right: 4px solid #61ff41;
    border-left: 4px solid #61ff41;
    background-color: white;
    width: auto;
  }

}

.gray {

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    width: 90%;
    margin: auto;
    height: auto;
  }

}

.green {

  &__content {

  }
}

.projects__title {
  writing-mode: revert;
  right: 13%;
  color: white;
  position: fixed;
  top: 0;
  z-index: 100;

}
.project {
  border: 1px black solid;
  max-width: auto;
  margin-top: 1rem;
  margin-bottom: 3rem;

}



::-webkit-scrollbar {
  width: 5px;

}

::-webkit-scrollbar-track {
  z-index: 0;
  border-radius: 10px;

}
