.contact {

  &__main {  
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: sticky;
    align-content:center;
  }

  
  &__heading { 
    font-weight: 200;
    position: sticky;

  }

  &__title {
    line-height: 1.1;
    max-width: 400px;
    letter-spacing: -2px;
    span {
      display: block;
      letter-spacing: -1px;
      margin-bottom: 10px;
    }
  
  }

  &__blurb {
    max-width: 60%;
    margin-top: 3vh;
    text-align: justify;
    font-weight: 300;
    font-size: 13px;
    color: gray
  }

    &__icons {
    display: flex;
    flex-direction: row;
        a {
      display: block;
      padding-right: 25px;
      padding-top: 15px;
    }

  }
}
