.about {
  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10vh;
    max-width: 80%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-weight: 300;
    font-size: 13px;
    color: gray
  }
  &__blurb {
    margin-bottom: 1rem;
  }
}

.project_scn {
  display: flex;
}

.project-info {

  &__main {

      display: flex;
      flex-direction: column;
      justify-content: space-between;

    }

  &__title {
    color: #15743351;
    font-weight: bold;
    padding-bottom: 1rem;
    
  }

  &__blurb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__description {
    font-size: 22px;
  }

  &__logo {
    max-width: 50px;
    margin-right: .8rem;
    margin-bottom: .8rem;
    margin-top: .8rem;
  }

  &__text {
    font-size: 22px;
  }
  
  &__tech {
    font-size: 11px;
    letter-spacing: .5px;
    margin-bottom: 1rem;
    color:rgba(35, 2, 220, 0.571)
  }

}