body {
  margin: 0;
  padding: 0;
  
  width: 100%;
  height: 100vh;
 
  background: white;
  background-image: 
    linear-gradient(#c2c2c2 1px, transparent 1px), 
    linear-gradient(90deg, #c2c2c2 1px, transparent 1px);
      display: flex;
  background-size: 1em 1em;
  background-attachment: fixed;
  scroll-behavior: smooth;

}