.about {
  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10vh;
    max-width: 80%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-weight: 300;
    font-size: 13px;
    color: gray
  }
  &__blurb {
    margin-bottom: 1rem;
  }
}